html,
body {
    background-image: url(../images/kakariko.png);
    background-attachment: fixed;  
    color: #bec7d2;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    /* text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3); */
    line-height: 15px;
}

.always_scrollbar {
    overflow-y: scroll;
}

nav ul {
    margin: 0;
    padding: 0;
    text-indent: 0;
    clear: both;
}

nav ul li {
    list-style-type: none;
    margin: 0 0 16px 0;
    padding: 0;
}

nav ul li a {
    background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png");
    background-color: #424242;
    background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#424242), to(#303030));
    /* Saf4+, Chrome */
    background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-linear-gradient(top, #424242, #303030);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -moz-linear-gradient(top, #424242, #303030);
    /* FF3.6 */
    background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -ms-linear-gradient(top, #424242, #303030);
    /* IE10 */
    background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -o-linear-gradient(top, #424242, #303030);
    /* Opera 11.10+ */
    background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), linear-gradient(to bottom, #424242, #303030);
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #4c4c4c #000000 #000000 #474747;
    text-align: center;
    display: block;
    font-weight: 700;
    color: #bec7d2;
    margin: 0;
    float: left;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
    width: 105px;
    padding: 4px 0;
    margin: 0 16px 0 0;
}

nav ul li a:hover {
    background-color: #3c70df;
    background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#3c70df), to(#235cd4));
    /* Saf4+, Chrome */
    background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-linear-gradient(top, #3c70df, #235cd4);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -moz-linear-gradient(top, #3c70df, #235cd4);
    /* FF3.6 */
    background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -ms-linear-gradient(top, #3c70df, #235cd4);
    /* IE10 */
    background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -o-linear-gradient(top, #3c70df, #235cd4);
    /* Opera 11.10+ */
    background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), linear-gradient(to bottom, #3c70df, #235cd4);
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #4e7de2 #102a63 #102a63 #4576e0;
    color: #ffffff;
}

nav ul li a:active {
    background-color: #1448b3;
    background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-gradient(linear, left top, left bottom, from(#1448b3), to(#103b93));
    /* Saf4+, Chrome */
    background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -webkit-linear-gradient(top, #1448b3, #103b93);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -moz-linear-gradient(top, #1448b3, #103b93);
    /* FF3.6 */
    background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -ms-linear-gradient(top, #1448b3, #103b93);
    /* IE10 */
    background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), -o-linear-gradient(top, #1448b3, #103b93);
    /* Opera 11.10+ */
    background-image: url("http://c15111086.r86.cf2.rackcdn.com/grunge_button.png"), linear-gradient(to bottom, #1448b3, #103b93);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.6);
    /*position:relative; top:1px;*/
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: #164fc5 #071a40 #071a40 #154cbc;
    color: #ffffff;
}

.title {
    font-weight: 800;
    font-size: 1.5em;
    color: #e09456;
}

#cards {
    float: left;
}

#new-cards {
    margin-top: 26px;
}

#about {
    margin-top: 15px;
    float: left;
    font-size: 1em;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

ul {
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
    margin-top: 2px;
}

ul li {
    list-style-position: inside;
    padding-bottom: 10px;
}

table {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
    padding: 0;
}

td {
    border: 0;
    padding: 0;
}

#bingo-container {
    padding-top: 40px;
    padding-bottom: 40px;
}

#results {
    padding-right: 25px;
}

#results-footer {
    margin-top: 15px;
    float: left;
    font-size: .9em;
    text-shadow: 1px 1px 3px #000;
}

#about-text {
    font-size: .9em;
    line-height: 1.1;
}

.newcard {
    background-color: #424242;
    color: #bec7d2;
    text-align: center;
    display: block;
    font-weight: 700;
    font-size: .8em;
    margin: 1em;
    float: left;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    cursor: pointer;
    width: 105px;
    padding: 9px;
}

.newcard:hover {
    background-color: #6b78f05d;
    color: #ffffff;
    text-align: center;
    display: block;
    font-weight: 700;
    margin: 1em;
    float: left;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    cursor: pointer;
    width: 105px;
    padding: 9px;
}

.newcard:last-child {
    margin-right: 0;
}

#bingo-wrapper {
    width: 650px;
    background-color: rgba(0, 0, 0, .9);
    border: 1px #4c4c4c solid;
}

#bingo {
    width: 594px;
    margin: 25px;
    font-weight: normal;
    font-size: .8em;
}

#bingo .rowcol {
    background: #000811;
    font-size: 75%;
    color: #3c70df;
    font-weight: 700;
    border: 1px #0a245a solid;
}

#bingo .rowcol:hover {
    color: #ffffff;
    background: #1448b3;
}

#bingo tr:first-child td,#bingo tr:last-child td {
    height: 30px;
    background: #000811;
    font-size: 75%;
    color: #3c70df;
    font-weight: 700;
    border: 1px #0a245a solid;
}

#bingo tr:first-child td:hover,#bingo tr:last-child td:hover {
    color: #ffffff;
    background: #1448b3;
}

#bingo tr td {
    box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
    padding: 0 5px;
    cursor: pointer;
    width: 95px;
    height: 90px;
    text-align: center;
    border: 1px #424242 solid;
    background:rgba(0,0,0,.95);
}

#bingo tr td:first-child {
    width: 35px;
    background: #000811;
    font-size: 75%;
    color: #3c70df;
    font-weight: 700;
    border: 1px #0a245a solid;
}

#bingo tr td:first-child:hover {
    color: #ffffff;
    background: #1448b3;
}

#bingo tr td:hover,#bingo tr td.hover {
    background: rgba(0,26,54,.85);
    color: #fff;
}

#bingo tr td.greensquare {
    background: #005511;
}

#bingo tr td.greensquare:hover,#bingo tr td.greensquare.hover {
    background: #007722;
}

#bingo tr td.redsquare {
    background: #550011;
}

#bingo tr td.redsquare:hover,#bingo tr td.redsquare.hover {
    background: #770022;
}

.transparent-div {
    background-color: rgba(0, 0, 0, 0.92);
    width: 500px;
    border: 1px #4c4c4c solid;
}

#about-bingo {
    float: right;
    padding-left: 25px;
}

.bingo-info {
    color: #e09456;
    font-weight: 800;
}

.debug-pane {
    margin-bottom: 10px;
}

.debug-pane h2 {
    margin-bottom: 5px;
}

.centered {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.debug-type-row {
    display: inline-block;
    min-width: 40px;
    font-weight: bold;
    color: #e09456;
}
